$background: var(--background,#043154);
$back-light: var(--back-light, #2a2b5d);
$back-dark: var(--back-dark,#00000f);
$text: var(--text, #ffffff);
$highlight: var(--highlight, #6ec6ff);
$contrast: var(--contrast, #5bb1f5);

$error-text: var(--error-text, #B00020);
$error-icon: var(--error-icon, #B00020);
$error-background: var(--error-background, #ffebee);
$warning-text: var(--warning-text, #a02c08);
$warning-icon: var(--warning-icon, #a02c08);
$warning-background: var(--warning-background, #fff8e1);
$info-text: var(--info-text, #164f1a);
$info-icon: var(--info-icon, #164f1a);
$info-background: var(--info-background, #e8f5e9);

$header-icons: var(--header-icons, 1);

a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

h1, h2, h3 {
	color: $highlight;
}

button {
	color: $background;
	background-color: $text;
	border-radius: 5px;
	padding: 0.375rem;
	font-size: 1rem;
	font-weight: 500;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}